.bg-img{
    background-image: url('./assets/bg-shadow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn-bg{
    background-image: url('./assets/bg-shadow.png');
    background-position: right;

}